@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


html,body {
    text-align: center;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url('../imagens/fundo.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    }

main {
    height: 100vh;
    position: relative;
    
}

section#celular {
    height: 650px;
    width: 299px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('../imagens/celularpq.png') no-repeat;
    z-index: 2;
    display: block;
}

iframe#tela {
    position: absolute;
    top: 65px;
    left: 30px;
    width: 240px;
    height: 520px;
    z-index: 1;
    border-radius: 25px;
    border: none;
    background-size: cover;
    
}

iframe#mockup {
    position: absolute;
    z-index: 2;
    pointer-events: none;
}

section#redes-sociais {
    text-align: right;
    position: relative;
    bottom: 80%;
    padding-right: 20px;
    
    
}

section#redes-sociais > a > img {
    width: 50px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.350);
    box-sizing: border-box;
}

section#redes-sociais img:hover
{
    border: 2.5px solid rgba(255, 255, 255, 0.200);
    transform: translate(-2px, -2px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.350);
    transition: transform 0.2s;
}